body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh; /* Increase height to 2 full screen heights */
  background-color: #c7c2c2;
  font-family: Arial, sans-serif;
  overflow-y: scroll; /* Enable vertical scrolling */
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px; /* Add margin to ensure title is visible */
}

h2 {
  margin-bottom: 20px; /* Add margin to separate title from grid */
}

.grid {
  display: flex;
  gap: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
}

.card img {
  width: 240px; /* Increase image size */
  height: 240px; /* Increase image size */
  object-fit: cover;
  display: block;
  border-radius: 10px; /* Rounded edges for images */
}

.card.selected img {
  border: 3px solid rgb(224, 176, 42); /* Indicate selected item */
}

.card.correct img {
  border: 4px solid rgb(6, 235, 6);
  animation: correctAnimation 1s;
}

.card.incorrect img {
  border: 4px solid rgb(236, 33, 33);
}

.card.inactive img {
  opacity: 0.5;
}

@keyframes correctAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
