body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  overflow-y: scroll; /* Enable vertical scrolling */
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: flex;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
}

.card img {
  width: 240px; /* Increase image size */
  height: 240px; /* Increase image size */
  object-fit: cover;
  display: block;
  border-radius: 10px; /* Rounded edges for images */
}

.card.correct img {
  border: 2px solid green;
  animation: correctAnimation 1s;
}

.card.incorrect img {
  border: 2px solid red;
}

.card.inactive img {
  opacity: 0.5;
}

@keyframes correctAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
